[flake8]
max-line-length = 88
# [E203] disables "whitespace before ':'", as this is sometimes desired by PEP8 (and Black manages this)
# [W503] disables "line break before binary operator", preferred for this project
ignore = E203, W503
exclude =
    .git
    __pycache__
    .mypy_cache
    .nox
    .pytest_cache
    .vscode
